@model AddItemInputModel

@{
    ViewData["Title"] = "Add New Task";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    <div class="form-group mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" placeholder="Enter your task" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
