@model IEnumerable<ToDoItem>

<h2>Your To-Do List</h2>

@if (!Model.Any())
{
    <p>No tasks</p>
}
else
{
    <ul>
        @foreach (var task in Model)
        {
            <li>
                @if (task.IsCompleted)
                {
                    <s>@task.Description</s>
                }
                else
                {
                    @task.Description
                }
            </li>
        }
    </ul>
}
